*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#fff;
    color:#000;
}
.flag{
    margin:30px auto;
    /* border:1px solid red; */
    width:300px;
    height:210px;
    box-shadow:5px 7px 15px rgba(0,0,0,0.2);
    position: relative;
}
.flag::before{
    content:"";
    position:absolute;
    width: 10px;
    height:500px;
    left:-11px;
    background-color:#513315;
    box-shadow:-3px 2px 6px rgba(0,0,0,0.5);
    border-radius:4px;
}
.color{
    width:300px;
    height:70px;
}
.color-1{
    background-color:#ff9933;
}
.color-2{
    background-color:#fff;
    display:flex;
    justify-content:center;
}
.color-3{
    background-color:#006400;
}
.color-2 img{
    width:70px;
    height:70px;
    animation:spin 4s infinite;
}
.text{
    width:300px;
    position: relative;
    left:40%;
    animation:scale 2s infinite;
}
@keyframes scale{
    0%{
        transform:scale(0.2);
    }
    100%{
        transform:scale(1);
    }
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}