*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.stars{
    background-color:#370d36;
    width:fit-content;
    padding:20px;
    text-align:center;
    color:orange;
}
i{
    font-size:30px;
}
label{
    cursor:pointer;
}
input{
    visibility:hidden;
}
input:checked+label~label{
    color:gray;
}